
.sapUiCalendarAppCont {
  border: none !important;
  //background-color: transparent !important;
}

.sapUiCalendarApp {
  //overflow: visible !important;
  height: 120px !important;
  margin: 0px !important;
  border: none !important;

}

.sapUiCalendarRowApps{
  overflow: visible !important;
}

.sapMPlanCal>.sapMList>table>tbody>tr:nth-child(even):not(.sapMListTblSubRow){
  background-color: transparent !important;
}

#__xmlview0--PC1-Table-tblBody{
  tr{
    //position: absolute;
  }
}